.container{
    color: rgb(76, 76, 76);
}
.carousel img {
  width: 38em;
  height: 22em;
  max-width: 37em;
  border: 0.1em solid transparent;
  border-radius: 1em;
  background: linear-gradient(to bottom, #ff5b52da 0%, #20c7ffe4 100%);
  padding: 0.15em;
}
.carousel-inner img{
  display: flex;
  margin: auto;
}
.black{
  background-color: rgb(76, 76, 76);
  color: white;
  width: 12em;
  height: 2.3em;
  border-radius: 0.2em;
  &:hover{
    filter: contrast(1.8);
  }
}

@media (max-width: 768px) {
  .container{
    margin-top: -2em!important;
  }
  .carousel img{
    display: flex;
    height: 17em;
    max-width: 30em;
  }
  .carousel-inner img{
    margin: 0!important;
}

}

@media (min-width: 768px) and (max-width: 992px){
.carousel-inner img{
    margin: 0!important;
}
}
