<div class="container">
  <div class="free-trial">
    <div class="row mt-5">
      <div class="col-lg-3 col-md-12 mt-5 description">
        <h3>¡Lleva tu música al siguiente nivel!</h3>
        <p>Disfruta de 1 mes de música ilimitada. <br>¡Descubre tu próxima canción favorita hoy mismo!</p>
        <button type="button" class="btn black btn-secondary btn-lg">Prueba gratis</button>
      </div>
      <div class="col-lg-9 mt-5 col-md-12">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/carrusel1.jpeg" class="d-block w-100" alt="primera imagen de apple music">
            </div>
            <div class="carousel-item">
              <img src="assets/carrusel2.jpg" class="d-block w-100" alt="segunda imagen de apple music">
            </div>
            <div class="carousel-item">
              <img src="assets/carrusel3.jpg" class="d-block w-100" alt="tercera imagen de apple music">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
