nav img{
width: 2em;
height: 1.8em;
}

.rating{
  width: 5em;
}

.imagenBurger img{
  height: 32em;
  max-height: 32em;
}

.similar img{
  width: 12em;
  height: 9em;
}
.similarRating img{
  width: 6em;
  height: 1.5em;
}
.reviewRating img{
  width: 4.3em;
  height: 1.3em!important;
}
.review img{
  height: 4em;
}
button{
background: rgb(7, 7, 7);
}
.productName:hover{
  cursor:pointer;
}
