nav img{
width: 1.9em;
height: 1.7em;
}

.rating{
  width: 5em;
}

.imagenBurger img{
  height: 30em;
  max-height: 30em;
}

.similar img{
  width: 12em;
  height: 9em;
}
.similarRating img{
  width: 6em;
  height: 1.5em;
}
.reviewRating img{
  width: 4.3em;
  height: 1.3em!important;
}
.review img{
  height: 4em;
}
button{
background: rgb(7, 7, 7);
}
