<nav class="navbar navbar-expand-lg bg-body-tertiary" id="nav">
  <div class="container-fluid mt-2">
    <a class="navbar-brand logo ms-5" href="#inicio">
      <img src="/assets/apple-music.png" alt="logo tienda apple" class="navbar-icon" />
    </a>
    <button class="navbar-toggler mx-2 btn-navbar" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-auto text-center" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" aria-current="page" href="#nav">Inicio</a>
        <a class="nav-link" href="#advantages">Servicios</a>
        <a class="nav-link" href="#secondAdvantage">Beneficios</a>
        <a class="nav-link" href="#opinion">Opiniones</a>
        <a class="nav-link" href="#">Planes</a>
        <a class="nav-link" href="#">Prueba</a>
        <form class="container-fluid mt-1">
          <button class="btn black btn-sm btn-outline-secondary mx-2" type="button">
            Registrarse
          </button>
          <button class="btn btn-sm white btn-outline-secondary" type="button">
            Iniciar sesion
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>

<div class="container" id="free-trial">
  <div class="free-trial">
    <div class="row mt-5">
      <div class="col-lg-3 col-md-12 mt-5">
        <div class="w-100">
          <h3>¡Lleva tu música al siguiente nivel!</h3>
          <p>
            Disfruta de 1 mes de música ilimitada. <br />¡Descubre tu próxima
            canción favorita hoy mismo!
          </p>
          <button type="button" class="btn tryfree btn-secondary btn-lg">
            Prueba gratis
          </button>
        </div>
      </div>
      <div class="col-lg-9 mt-1 mb-5 col-md-12 imgHeader d-flex">
        <img src="assets/carrusel1.jpeg" class="w-100 ms-auto" alt="imagen de apple music" />
      </div>
    </div>

    <div id="advantages">
      <div class="container w-100 firstAdvantage">
        <div class="row firstAdvantage">
          <div class="col-lg-1 col-12">
            <img src="assets/vinilo.png" alt="imagen musica infinita" />
          </div>
          <div class="col-lg-2 col-12 mt-3 ms-md-4">
            <div class="title">Múcica infinita</div>
            <div>Podrás escuchar música sin límites</div>
          </div>
          <div class="col-lg-1 col-12 ms-lg-5">
            <img src="assets/conexion.png" alt="imagen sin conexion" />
          </div>
          <div class="col-lg-2 col-12 mt-3 ms-md-4">
            <div class="title">Descarga sin conexión</div>
            <div>Podrás escuchar múscica sin conexión</div>
          </div>
          <div class="col-lg-1 col-12 ms-lg-5">
            <img src="assets/sonido.png" alt="imagen musica infinita" />
          </div>
          <div class="col-lg-2 col-12 mt-3 ms-md-4">
            <div class="title">Sonido premium</div>
            <div>Disfruta de la mejor calidad de audio</div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-1">
            <img src="assets/recomendado.png" alt="imagen musica infinita" />
          </div>
          <div class="col-lg-2 col-12 mt-3 ms-md-4">
            <div class="title">Recomendaciones personalizadas</div>
            <div>Te sugerimos los mejores éxitos según tus gustos</div>
          </div>
          <div class="col-lg-1 col-12 ms-lg-5 karaoke">
            <img class="mt-3" src="assets/karaoke.png" alt="imagen musica infinita" />
          </div>
          <div class="col-lg-2 col-12 mt-3 ms-md-4">
            <div class="title">Canta tus canciones</div>
            <div>
              Canta junto a tu artista favorito gracias a las letras
              incorporadas
            </div>
          </div>
          <div class="col-lg-1 col-12 ms-lg-5 share">
            <img src="assets/compartir.png" alt="imagen musica infinita" />
          </div>
          <div class="col-lg-2 col-12 mt-3 ms-md-4 mb-5">
            <div class="title">Experiencia compartida</div>
            <div>Crea playlist y compartelas con amigos y familiares</div>
          </div>
        </div>
      </div>

      <div class="container w-100 secondAdvantage" id="secondAdvantage">
        <div class="row">
          <div class="col-lg-6 col-md-12 feelmusic">
            <img src="assets/siente.png" alt="siente la música como nunca" class="w-100" />
          </div>
          <div class="col-lg-6 col-md-12 description mt-4">
            <h3 class="title">Vive la música como nunca antes</h3>
            <div>
              No solo ofrecemos canciones, sino momentos inolvidables. <br />
              Con conciertos exclusivos y transmisiones en vivo de tus
              artistas<br />
              favoritos, puedes conectarte más profundamente con la música y
              <br />
              sentir que formas parte de algo único.
            </div>
          </div>
        </div>
        <div class="row buttom mt-lg-5">
          <div class="col-lg-6 col-md-12 description">
            <h3 class="title">Música para todos los gustos</h3>
            <div>
              Descubre un universo musical sin límites. Desde los éxitos <br />
              más actuales hasta los clásicos que nunca pasan de moda. <br />
              Explora playlists pensadas especialmente para ti,<br />
              con recomendaciones que se adaptan a tus gustos.
            </div>
          </div>
          <div class="col-lg-6 col-md-12 tastemusic">
            <img src="assets/personas.jpg" alt="siente la música como nunca" class="d-block w-100 mb-2" />
            <img src="assets/siente3.jpg" alt="niña sintiendo la musica con auriculares" class="d-block w-100 child" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="advantagePrimary" class="container-fluid d-flex-column align-content-center">
  <div class="row text-center justify-content-center">
    <div class="col-lg-3 col-12 mb-4">
      <img src="assets/vertical.png" alt="foto de gráfico" />
      <div class="title mb-2 mt-3">Beneficio primario uno</div>
      <div>
        Lorem ipsum dolor sit amet<br />
        consectetur adipisicing.<br />
        Animi sint porro quidem<br />
        deserunt quam.
      </div>
    </div>

    <div class="col-lg-3 col-12 mb-4">
      <img src="assets/base.png" alt="foto de base" />
      <div class="title mb-2 mt-3">Beneficio primario dos</div>
      <div>
        Lorem ipsum dolor sit amet<br />
        consectetur adipisicing.<br />
        Animi sint porro quidem<br />
        deserunt quam.
      </div>
    </div>

    <div class="col-lg-3 col-12 mb-4">
      <img src="assets/dolar.png" alt="foto de dólar" />
      <div class="title mb-2 mt-3">Beneficio primario tres</div>
      <div>
        Lorem ipsum dolor sit amet<br />
        consectetur adipisicing.<br />
        Animi sint porro quidem<br />
        deserunt quam.
      </div>
    </div>
  </div>
</div>

<div id="opinions" class="container d-flex-column align-content-center">
  <div class="row text-center justify-content-center">
    <div class="col-12">
      <h3 class="title">Qué opinan nuestros clientes</h3>
      <div class="mt-3">
        Las opiniones son directas de nuestros clientes han sido verificadas<br />
        antes de ser publicadas.
      </div>
    </div>
  </div>
  <div class="row text-center justify-content-center">
    <div class="col-12 col-lg-5 opinionsText1 mx-2 mt-5">
      <div class="row p-4">
        <div class="col-3 d-flex">
          <img src="assets/persona1.jpg" alt="imagen de cliete opinando">
        </div>
        <div class="col-4">
          <div class="title d-flex">Alex Anderson</div>
          <div class="d-flex">&#64;twitter</div>
        </div>
        <div class="col-4 verificated d-flex justify-content-start">
          <img src="assets/verificado.png" alt="">
        </div>
      </div>
      <div class="row ps-2">
        <div class="col-12 text-start">Siempre acierta con las sugerencias, recomiendo totalmente pagar el premium!</div>
      </div>
      <div class="row ps-4">
        <div class="col-12 text-start hour mt-2 mb-3">8:21 PM/Ene 21,2025</div>
      </div>
    </div>
    <div class="col-12 col-lg-5 opinionsText2 mx-2 mt-5">
      <div class="row p-4">
        <div class="col-3 d-flex">
          <img src="assets/persona2.jpg" alt="imagen de cliete opinando">
        </div>
        <div class="col-4">
          <div class="title d-flex">Casandra Jonson</div>
          <div class="d-flex">&#64;twitter</div>
        </div>
      </div>
      <div class="row ps-2 mb-4">
        <div class="col-12 text-start">De momento muy contenta, si sigue gustándome tanto pagaré las suscripción :)</div>
      </div>
      <div class="row ps-4">
        <div class="col-12 text-start hour mt-2 mb-3">8:21 PM/Ene 21,2025</div>
      </div>
    </div>
  </div>
</div>
