<div class="container first">
  <div class="row ms-auto">
    <div class="col-lg-1 col-12">
      <img src="assets/vinilo.png" alt="imagen musica infinita" />
    </div>
    <div class="col-lg-2 col-12 mt-3 ms-md-4">
      <div class="title">Múcica infinita</div>
      <div>Podrás escuchar música sin límites</div>
    </div>
    <div class="col-lg-1 col-12 ms-lg-5">
      <img src="assets/conexion.png" alt="imagen sin conexion" />
    </div>
    <div class="col-lg-2 col-12 mt-3 ms-md-4">
      <div class="title">Descarga sin conexión</div>
      <div>Podrás escuchar múscica sin conexión</div>
    </div>
    <div class="col-lg-1 col-12 ms-lg-5">
      <img src="assets/sonido.png" alt="imagen musica infinita" />
    </div>
    <div class="col-lg-2 col-12 mt-3 ms-md-4">
      <div class="title">Sonido premium</div>
      <div>Disfruta de la mejor calidad de audio</div>
    </div>
  </div>
  <div class="row ms-auto mt-4">
    <div class="col-lg-1">
      <img src="assets/recomendado.png" alt="imagen musica infinita" />
    </div>
    <div class="col-lg-2 col-12 mt-3 ms-md-4">
      <div class="title">Recomendaciones personalizadas</div>
      <div>Te sugerimos los mejores éxitos según tus gustos</div>
    </div>
    <div class="col-lg-1 col-12 ms-lg-5 karaoke">
      <img class="mt-3" src="assets/karaoke.png" alt="imagen musica infinita" />
    </div>
    <div class="col-lg-2 col-12 mt-3 ms-md-4">
      <div class="title">Canta tus canciones</div>
      <div>Canta junto a tu artista favorito gracias a las letras incorporadas</div>
    </div>
    <div class="col-lg-1 col-12 ms-lg-5 share">
      <img src="assets/compartir.png" alt="imagen musica infinita" />
    </div>
    <div class="col-lg-2 col-12 mt-3 ms-md-4 mb-5">
      <div class="title">Experiencia compartida</div>
      <div>Crea playlist y compartelas con amigos y familiares</div>
    </div>
  </div>
</div>

<div class="container second">
  <div class="row">
    <div class="col-lg-5 col-md-12">
      <img src="assets/siente.png" alt="siente la música como nunca" class="d-block w-100">
    </div>
    <div class="col-lg-5 col-md-12 description mt-4">
      <h3 class="title">Vive la música como nunca antes</h3>
      <div>No solo ofrecemos canciones, sino momentos inolvidables. <br>
           Con conciertos exclusivos y transmisiones en vivo de tus artistas<br> favoritos,
         puedes conectarte más profundamente con la música y <br>sentir que formas parte de algo único.</div>
    </div>
  </div>
   <div class="row buttom mt-lg-5">
     <div class="col-lg-5 col-md-12 description">
       <h3 class="title">Múcisca para todos los gustos</h3>
       <div>No solo ofrecemos canciones, sino momentos inolvidables. <br>
            Descubre un universo musical sin límites. Desde los éxitos <br>
            más actuales hasta los clásicos que nunca pasan de moda. <br>
            Explora playlists curadas especialmente para ti,<br>
            con recomendaciones que se adaptan a tus gustos.
      </div>
     </div>
      <div class="col-lg-6 col-md-12 mt-4">
        <img src="assets/personas.jpg" alt="siente la música como nunca" class="d-block w-100">
        <img src="assets/siente3.jpg" alt="niña sintiendo la musica con auriculares" class="d-block w-100 child">
      </div>
</div>
